<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="first-name" value="ajith"/>
       <parameter name="age" value="21"/>
        <parameter name="designation" value="trainee"/>
         <parameter name="skills" value="java"/>
    <classes>
      <class name="EXcel_TestNg.xls_file.AppTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
